html,
body {
  height: 100%;
}

.App {
  background-color: #fffffa;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 800px;
  padding: 30px;

  background-repeat: no-repeat;
  background-position: center;
  animation: rotateBackground 10s ease infinite;
}

/* .header:;
} */

.title {
  font-size: 36px !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

.heavy {
  font-weight: 700;
  color: #3c3939;
  font-size: 24px;
}

.light {
  font-weight: 400;
  color: #8c8c8c;
  font-size: 24px;
}

/* Triangle */
.triangle {
  stroke: black;
  stroke-width: 8px;

  fill: darkgrey;
  animation: changeColor 4s infinite;
}

.tri-container {
  /* width: ; */
  height: 500px;
  margin: auto;
}

@keyframes changeColor {
  0% {
    fill: lightsalmon;
    stroke: crimson;
  }
  25% {
    fill: plum;
    stroke: darkorchid;
  }
  50% {
    fill: lightblue;
    stroke: darkcyan;
  }
  75% {
    fill: plum;
    stroke: darkorchid;
  }
  100% {
    fill: lightsalmon;
    stroke: crimson;
  }
}

/* Square */
.square {
  stroke: bisque;
  stroke-width: 4px;
  fill: white;

  animation: resizeWidth 6s ease-in-out infinite;
}

@keyframes resizeWidth {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(1.25, 0.75);
  }
  66% {
    transform: scale(0.75, 1.25);
  }
}

/* Circle */

.circle-container {
  margin: auto;
}

.circle {
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 25;
  animation: dash 4s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/* Shapes */

.shape-container {
  margin: auto;
  position: absolute;
  z-index: 1;
  height: inherit;
  width: 90%;
}

.shape {
  stroke: lightgreen;
  stroke-width: 4px;
  fill: none;
  animation: fallingLeft 10s linear infinite;
}

@keyframes fallingLeft {
  to {
    transform: translate(50%, 90%) rotate(180deg);
    opacity: 0;
  }
}

@keyframes fallingRight {
  to {
    transform: translate(70%, 90%) rotate(180deg);
    opacity: 0;
  }
}
