.App {
  background-color: #fffffa;

}

.header {
  margin: auto;
  text-align: center;
  height: 400px;
  padding: 40px;
}

.heavy {
  font-weight: 700;
  color: black;
  font-size: 24px;
}

.light {
  font-weight: 300;
  color: gray;
  font-size: 24px;
}